[Unit]
Description=RTP to HLS AAC from RTMP
After=network.target
[Service]
User=www-data
Restart=always
ExecStart=/usr/bin/ffmpeg -re -i rtmp://127.0.0.1:1935/live/cle_rtp_1m_ju9k_aac -c:v copy -c:a aac -b:a 128k -ar 48000 -hls_time 4 -hls_list_size 450 -hls_flags delete_segments+append_list+program_date_time -hls_segment_filename /var/www/hls/live/cle_rtp_1m_ju9k_aac-%%05d.ts /var/www/hls/live/cle_rtp_1m_ju9k_aac.m3u8
[Install]
WantedBy=multi-user.target
